* {
    margin: 0 auto;
    box-sizing: border-box;
  padding: 0;
  font-family: Roboto, sans-serif;
    font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
    width: 95%;
    max-width: 1200px;
    padding: 10px;
}
h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    color: limegreen;
}
h3 {
    margin: 10px 0;
}
.news_text {
    color: gray();
}
.count {
    font-style: italic;
    margin-top: 30px;
    color: darkgrey;
}
.menu {
    width: 95%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    border: 3px solid limegreen;
    border-radius: 5px;
    padding: 10px;
    background-color: #F5FFF5;
}
li {
    padding: 3px;
    border: 3px solid transparent;
}
li:hover {
    border-bottom: 3px solid #00dd1c;
}
button {
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #0a0a0a;
}
.error_message {
    font-size: 10px;
    color: red;
}
.btn_green {
    background-color: #97FD97;
}
.admin {
    border: none;
    padding: 0;
    background-color: transparent;
    margin: 0;
}
.link {
    color: limegreen;
    font-weight: bold;
}
.links {
    display: inline-block;
    height: 40px;
    margin-right: 15px;
}
.items {
    margin: 15px 0;
}
.loader:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
